.PickList {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
  height: 30px;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.Menu {
  border: 1px #dadada solid;
  text-align: left;
}
.checkboxes {
  text-align: left;
  padding: 10px;
}

.checkboxes label {
  display: inline-block;
  padding-left: 10px;
}
.checkboxes label:hover {
  background-color: #1e90ff;
}
.radioboxes {
  text-align: left;
  display: inline-block;
  margin: 10px;
}
.clear {
  height: 30px;
  width: 100%;
  display: inline-block;
  border-top: 2px #dadada solid;
  span {
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
}
